---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, collaborator]
    width: 3
    image: true
  - roles: [phd]
    width: 3
    image: true
  - roles: [masters, ug]
    width: 3
    image: true
  - roles: [staff]
    width: 3
    image: true


---
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<!-- Centering wrapper -->
<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
  <!-- Your collage block -->
  <div style="display: flex; flex-direction: column;"> 

    <!-- Top row -->
    <div style="display: flex; width: 100%; justify-content: center; align-items: center;">
      <!-- <img src="{{ site.base }}/img/stochlite.gif" 
           style="width: 30%;"> -->

      <video width="30%" style="padding: 0%;" autoplay loop muted playsinline>
        <source src="img/linearPolicySuff/stochlite.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    
      <video width="33%" style="padding: 0%;" autoplay loop muted playsinline>
        <source src="img/LinPolForceControl/stoch3_2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <!-- <video width="30%" style="padding: 0%;" autoplay loop muted playsinline>
        <source src="/img/stoch3.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->

      <video width="30%" style="padding: 0%;" autoplay loop muted playsinline>
        <source src="https://www.stochlab.com/MULE/images/videos/stairs_up_cut.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>


    <!-- Middle row -->
    <div style="display: flex; width: 100%; justify-content: center; align-items: center;">
      <img src="{{ site.base }}/img/spine.jpg" 
           style="width: 25%; display: block;">

      <img src="{{ site.base }}/img/word cloud.png" 
           style="width: 40%; display: block;">

      <img src="{{ site.base }}/img/cbf.png" 
           style="width: 25%; display: block;">
      
      <!-- <img src="{{ site.base }}/img/lyapunov.jpg" 
           style="width: 15%; display: block;"> -->
    </div>

    <!-- Bottom image -->
    <div style="display: flex; width: 100%; justify-content: center; align-items: center;">
      <!-- <img src="{{ site.base }}/img/stoch3.GIF" 
           style="width: 25%; display: block;"> -->
      
      <!-- <img src="{{ site.base }}/img/stochlite.gif" 
           style="width: 25.5%; display: block;"> -->
    </div>

  </div>
</div>





<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Active Research</h2>

    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
