<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Learning Stable Manoeuvres in Quadruped Robots from Expert Demonstrations.
			</span><br />
			<span class="authors">
				Sashank Tirumala, Sagar Gubbi, Kartik Paigwar, Aditya Sagi, Ashish Joglekar, Shalabh Bhatnagar, Ashitava Ghosal, Bharadwaj Amrutur, and Shishir Kolathaya.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2007.14290</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Design, development and experimental realization of a quadrupedal research platform: Stoch.
			</span><br />
			<span class="authors">
				Dhaivat Dholakiya, Shounak Bhattacharya, Ajay Gunalan, Abhik Singla, Shalabh Bhatnagar, Bharadwaj Amrutur, Ashitava Ghosal, and Shishir Kolathaya.
			</span><br />
			<span class="venuetype"></span><span class="venue">2019 5th International Conference on Control, Automation and Robotics (ICCAR)</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Realizing learned quadruped locomotion behaviors through kinematic motion primitives.
			</span><br />
			<span class="authors">
				Abhik Singla, Shounak Bhattacharya, Dhaivat Dholakiya, Shalabh Bhatnagar, Ashitava Ghosal, Bharadwaj Amrutur, and Shishir Kolathaya.
			</span><br />
			<span class="venuetype"></span><span class="venue">2019 International Conference on Robotics and Automation (ICRA)</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Trajectory based deep policy search for quadrupedal walking.
			</span><br />
			<span class="authors">
				Shishir Kolathaya, Ashish Joglekar, Suhan Shetty, Dhaivat Dholakiya, Aditya Sagi, Shounak Bhattacharya, Abhik Singla, Shalabh Bhatnagar, Ashitava Ghosal, Bharadwaj Amrutur, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">2019 28th IEEE International Conference on Robot and Human Interactive Communication (RO-MAN)</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Learning active spine behaviors for dynamic and efficient locomotion in quadruped robots.
			</span><br />
			<span class="authors">
				Shounak Bhattacharya, Abhik Singla, Dhaivat Dholakiya, Shalabh Bhatnagar, Bharadwaj Amrutur, Ashitava Ghosal, Shishir Kolathaya, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">2019 28th IEEE International Conference on Robot and Human Interactive Communication (RO-MAN)</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Gait Library Synthesis for Quadruped Robots via Augmented Random Search.
			</span><br />
			<span class="authors">
				Sashank Tirumala, Aditya Sagi, Kartik Paigwar, Ashish Joglekar, Shalabh Bhatnagar, Ashitava Ghosal, Bharadwaj Amrutur, and Shishir Kolathaya.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1912.12907</span>.
			<br />
			<span class="links">
		</td>
	</tr>
</tbody>
</table>
